.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    list-style-type: none;
  }
.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
.main_pages ul li{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
.social_media ul li {
    list-style-type:none ;
  }
  
.agreements ul li{
    list-style-type: none;
  }